<%- include ('partials/navbar.ejs')%> <%- include ('partials/header.ejs') %>

<div class="menu">
  <div class="imagem">
    <img src="/images/user.png" alt="" />
    </div>
    <div class="text">
        <p>Usuário</p>
        <p class="p2">Admin</p>
    </div>
    <div class="d-grid gap-2" id="container-buttons">
        <button class="btn btn-primary" type="button" id="btns"><i class="bi bi-border-all"></i>Painel</button>
        <button class="btn btn-primary" type="button" id="btns"><i class="bi bi-bar-chart"></i>Análises</button>
        <button class="btn btn-primary" type="button" id="btns"><i class="bi bi-flag"></i>Relátorios</button>
        <button class="btn btn-primary" type="button" id="btns"><i class="bi bi-gear"></i></i>Configurar</button>
   
      </div>
      
</div>


<div class="cards">
    <div class="card" style="width: 18rem;">
        <img src="images/hortaliças.png" class="card-img-top" alt="hortaliças">
        <div class="card-body">
            <h5 class="card-title">Hortaliças</h5>
            <p class="card-text">Clique no botão para adicionar a sua hortaliça.</p>
            <a href="/registerHortalica" class="btn btn-primary" id="btn-secundary">Adicionar Hortaliças</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/fertilizante.png" class="card-img-top" alt="fertilizante">
        <div class="card-body">
            <h5 class="card-title">Fertilização</h5>
            <p class="card-text">Clique no botão para fazer a fertilização da sua hortaliça</p>
            <a href="/registerFertilizer" class="btn btn-primary" id="btn-secundary">Fazer Fertilização</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/nivelAgua.png" class="card-img-top" alt="nivelagua">
        <div class="card-body">
            <h5 class="card-title">Nível da Água</h5>
            <p class="card-text">Clique no botão para adicionar o nível da água</p>
            <a href="registerWaterLevel" class="btn btn-primary" id="btn-secundary">Adicionar Nível</a>
        </div>
    </div>
</div>
</div>




<%- include ('partials/footer') %>
