<%- include ('partials/header.ejs') %> <%- include ('partials/navbar.ejs') %>
<!--importando partials-->


<div class="container2">
    <div class="circle"></div>
    <h1>Hortaliça</h1>
    <div class="formHortalicas">
    
      <select class="form-select" aria-label="Default select example">
        <option selected>Selecione</option>
        <option value="1">Alface</option>
        <option value="2">Batata</option>
        <option value="3">Tomate</option>
        <option value="4">Cebola</option>
        <option value="5">Cenoura</option>
        <option value="6">Abobora</option>
        <option value="7">Repolho</option>
        <option value="8">Chuchu</option>
        <option value="9">Batata-doce</option>
    
      </select>
    
      <button type="submit" class="btn btn-primary" id="btn-secundary" style="margin-left: 10px;">Salvar</button>
    </div>
</div>

<%- include ('partials/footer.ejs') %>
