<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>


<div class="container2">
    <div class="circle-water"></div>
    <h1>Nível da Água</h1>
    <div class="formHortalicas">
      <input class="form-control" type="number" value="Readonly input here..." aria-label="readonly input example" placeholder="Digite o nível em L/h">
      <button type="submit" class="btn btn-primary" id="btn-secundary" style="margin-left: 10px;">Salvar</button>
    </div>
  </div>




<%- include ('partials/footer.ejs') %>