<%- include ('partials/navbar.ejs') %> <%- include ('partials/header.ejs') %>

<div class="container2">
  <div class="circle-fert"></div>
  <h1>Fertilização</h1>
  <div class="formHortalicas">
    <input class="form-control" type="number" value="Readonly input here..." aria-label="readonly input example" placeholder="Digite a concentração em g/L">
    <button type="submit" class="btn btn-primary" id="btn-secundary" style="margin-left: 10px;">Salvar</button>
  </div>
</div>

<%- include ('partials/footer.ejs') %>
